@font-face {
    font-family: myFont;
    src: url(fonts/Morton.otf);
}
body{
    background: rgb(151, 111, 126);
}

#homebutton{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50px;
    top: 50px;
}

h1{
    position: absolute;
    top: 20px;
    left: 500px;
    font-family: 'myFont';
}

#horizontalgraph{
    background: black;
    position: absolute;
    left: 352px;
    top: 652px;
    width: 1050px;
    height: 6px;
}
#verticalgraph{
    background: black;
    position: absolute;
    left: 352px;
    top: 127px;
    width: 6px;
    height: 525px;
}
#horlabel{
    font-family: 'myFont';
    position: absolute;
    top: 655px;
    left: 807px;
}
#vertlabel{
    font-family: 'myFont';
   /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-orientation */
   writing-mode: vertical-rl;
   position: absolute;
   top: 240px;
   left: 282px;
}

/*local woman missing*/
.graph.b1{
    opacity: 0.15;
}
.graph.b2{
    opacity: 0.15;
}
.graph.b3{
    opacity: 0.15;
}
.graph.b4{
    opacity: 0.15;
}
.graph.b5{
    opacity: 0.15;
}
.graph.b6{
    opacity: 0.15;
}
.graph.b7{
    opacity: 0.15;
}
.graph.b8{
    opacity: 0.15;
}
.graph.b9{
    opacity: 0.15;
}
.graph.b10{
    opacity: 0.15;
}
.graph.b11{
    opacity: 0.15;
}
.graph.b12{
    opacity: 0.15;
}
.graph.b13{
    opacity: 0.15;
}


#blue1{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 600px;
    left: 349px;
}
#blue1:hover{
    opacity: 1;
}
#lwm1{
    position: absolute;
    top: 581px;
    left: 365px;
    color: white;
    opacity: 0;
}
#blue2{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 500px;
    left: 399px;
}
#blue2:hover{
    opacity: 1;
}
#lwm2{
    position: absolute;
    top: 481px;
    left: 415px;
    color: white;
    opacity: 0;
}
#blue3{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 649px;
    left: 479px;
}
#blue3:hover{
    opacity: 1;
}
#lwm3{
    position: absolute;
    top: 630px;
    left: 495px;
    color: white;
    opacity: 0;
}
#blue4{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 559px;
}
#blue4:hover{
    opacity: 1;
}
#lwm4{
    position: absolute;
    top: 380px;
    left: 575px;
    color: white;
    opacity: 0;
}
#blue5{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 649px;
    left: 579px;
}
#blue5:hover{
    opacity: 1;
}
#lwm5{
    position: absolute;
    top: 630px;
    left: 595px;
    color: white;
    opacity: 0;
}
#blue6{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 739px;
}
#blue6:hover{
    opacity: 1;
}
#lwm6{
    position: absolute;
    top: 330px;
    left: 755px;
    color: white;
    opacity: 0;
}
#blue7{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 779px;
}
#blue7:hover{
    opacity: 1;
}
#lwm7{
    position: absolute;
    top: 280px;
    left: 795px;
    color: white;
    opacity: 0;
}
#blue8{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 1099px;
    z-index: 5;
}
#blue8:hover{
    opacity: 1;
}
#lwm8{
    position: absolute;
    top: 230px;
    left: 1115px;
    color: white;
    opacity: 0;
}
#blue9{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 1209px;
}
#blue9:hover{
    opacity: 1;
}
#lwm9{
    position: absolute;
    top: 230px;
    left: 1225px;
    color: white;
    opacity: 0;
}
#blue10{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 224px;
    left: 1229px;
    z-index: 5;
}
#blue10:hover{
    opacity: 1;
}
#lwm10{
    position: absolute;
    top: 205px;
    left: 1245px;
    color: white;
    opacity: 0;
}
#blue11{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 199px;
    left: 1269px;
    z-index: 10;
}
#blue11:hover{
    opacity: 1;
}
#lwm11{
    position: absolute;
    top: 180px;
    left: 1285px;
    color: white;
    opacity: 0;
}
#blue12{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1299px;
    z-index: 5;
}
#blue12:hover{
    opacity: 1;
}
#lwm12{
    position: absolute;
    top: 130px;
    left: 1315px;
    color: white;
    opacity: 0;
}
#blue13{
    background: rgb(10, 201, 188);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1339px;
    z-index: 10;
}
#blue13:hover{
    opacity: 1;
}
#lwm13{
    position: absolute;
    top: 130px;
    left: 1355px;
    color: white;
    opacity: 0;
}

/*What doesn't kill you*/
.graph.wd1{
    opacity: 0.15;
}
.graph.wd2{
    opacity: 0.15;
}
.graph.wd3{
    opacity: 0.15;
}
.graph.wd4{
    opacity: 0.15;
}
.graph.wd5{
    opacity: 0.15;
}
.graph.wd6{
    opacity: 0.15;
}
.graph.wd7{
    opacity: 0.15;
}
.graph.wd8{
    opacity: 0.15;
}
.graph.wd9{
    opacity: 0.15;
}
#wdky1{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 500px;
    left: 439px;
}
#wdky1:hover{
    opacity: 1;
}
#red1{
    position: absolute;
    top: 481px;
    left: 455px;
    color: white;
    opacity: 0;
}
#wdky2{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 509px;
}
#wdky2:hover{
    opacity: 1;
}
#red2{
    position: absolute;
    top: 380px;
    left: 525px;
    color: white;
    opacity: 0;
}
#wdky3{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 649px;
    left: 589px;
}
#wdky3:hover{
    opacity: 1;
}
#red3{
    position: absolute;
    top: 630px;
    left: 605px;
    color: white;
    opacity: 0;
}
#wdky4{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 599px;
}
#wdky4:hover{
    opacity: 1;
}
#red4{
    position: absolute;
    top: 380px;
    left: 615px;
    color: white;
    opacity: 0;
}
#wdky5{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 669px;
}
#wdky5:hover{
    opacity: 1;
}
#red5{
    position: absolute;
    top: 280px;
    left: 685px;
    color: white;
    opacity: 0;
}
#wdky6{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 649px;
    left: 709px;
}
#wdky6:hover{
    opacity: 1;
}
#red6{
    position: absolute;
    top: 630px;
    left: 725px;
    color: white;
    opacity: 0;
}
#wdky7{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 749px;
}
#wdky7:hover{
    opacity: 1;
}
#red7{
    position: absolute;
    top: 380px;
    left: 765px;
    color: white;
    opacity: 0;
}
#wdky8{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 224px;
    left: 1039px;
}
#wdky8:hover{
    opacity: 1;
}
#red8{
    position: absolute;
    top: 205px;
    left: 1055px;
    color: white;
    opacity: 0;
}
#wdky9{
    background:rgb(156,27,69);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 1339px;
}
#wdky9:hover{
    opacity: 1;
}
#red9{
    position: absolute;
    top: 230px;
    left: 1355px;
    color: white;
    opacity: 0;
}

/*The Break*/
.graph.tb1{
    opacity: 0.15;
}
.graph.tb2{
    opacity: 0.15;
}
.graph.tb3{
    opacity: 0.15;
}
.graph.tb4{
    opacity: 0.15;
}
.graph.tb5{
    opacity: 0.15;
}
.graph.tb6{
    opacity: 0.15;
}
.graph.tb7{
    opacity: 0.15;
}
.graph.tb8{
    opacity: 0.15;
}
.graph.tb9{
    opacity: 0.15;
}.graph.tb10{
    opacity: 0.15;
}
.graph.tb11{
    opacity: 0.15;
}
.graph.tb12{
    opacity: 0.15;
}
.graph.tb13{
    opacity: 0.15;
}
.graph.tb14{
    opacity: 0.15;
}
.graph.tb15{
    opacity: 0.15;
}
.graph.tb16{
    opacity: 0.15;
}
.graph.tb17{
    opacity: 0.15;
}
.graph.tb18{
    opacity: 0.15;
}

#tb1{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 449px;
    z-index: 10;
}
#tb1:hover{
    opacity: 1;
}
#white1{
    position: absolute;
    top: 380px;
    left: 465px;
    color: white;
    opacity: 0;
}
#tb2{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 609px;
    z-index: 3;
}
#tb2:hover{
    opacity: 1;
}
#white2{
    position: absolute;
    top: 330px;
    left: 625px;
    color: white;
    opacity: 0;
}
#tb3{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 274px;
    left: 729px;
}
#tb3:hover{
    opacity: 1;
}
#white3{
    position: absolute;
    top: 255px;
    left: 745px;
    color: white;
    opacity: 0;
}
#tb4{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 549px;
    left: 809px;
}
#tb4:hover{
    opacity: 1;
}
#white4{
    position: absolute;
    top: 530px;
    left: 825px;
    color: white;
    opacity: 0;
}
#tb5{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 899px;
}
#tb5:hover{
    opacity: 1;
}
#white5{
    position: absolute;
    top: 380px;
    left: 915px;
    color: white;
    opacity: 0;
}
#tb6{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 524px;
    left: 939px;
}
#tb6:hover{
    opacity: 1;
}
#white6{
    position: absolute;
    top: 505px;
    left: 955px;
    color: white;
    opacity: 0;
}
#tb7{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 499px;
    left: 969px;
}
#tb7:hover{
    opacity: 1;
}
#white7{
    position: absolute;
    top: 480px;
    left: 985px;
    color: white;
    opacity: 0;
}
#tb8{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 549px;
    left: 999px;
}
#tb8:hover{
    opacity: 1;
}
#white8{
    position: absolute;
    top: 530px;
    left: 1015px;
    color: white;
    opacity: 0;
}
#tb9{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 1049px;
}
#tb9:hover{
    opacity: 1;
}
#white9{
    position: absolute;
    top: 430px;
    left: 1065px;
    color: white;
    opacity: 0;
}
#tb10{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 1059px;
}
#tb10:hover{
    opacity: 1;
}
#white10{
    position: absolute;
    top: 330px;
    left: 1075px;
    color: white;
    opacity: 0;
}
#tb11{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 549px;
    left: 1139px;
}
#tb11:hover{
    opacity: 1;
}
#white11{
    position: absolute;
    top: 530px;
    left: 1155px;
    color: white;
    opacity: 0;
}
#tb12{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 474px;
    left: 1149px;
} 
#tb12:hover{
    opacity: 1;
}
#white12{
    position: absolute;
    top: 455px;
    left: 1165px;
    color: white;
    opacity: 0;
}
#tb13{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 1169px;
}
#tb13:hover{
    opacity: 1;
}
#white13{
    position: absolute;
    top: 330px;
    left: 1185px;
    color: white;
    opacity: 0;
}
#tb14{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 1189px;
}
#tb14:hover{
    opacity: 1;
}
#white14{
    position: absolute;
    top: 430px;
    left: 1205px;
    color: white;
    opacity: 0;
}
#tb15{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 1199px;
    z-index: 10;
}
#tb15:hover{
    opacity: 1;
}
#white15{
    position: absolute;
    top: 330px;
    left: 1215px;
    color: white;
    opacity: 0;
}
#tb16{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 224px;
    left: 1219px;
}
#tb16:hover{
    opacity: 1;
}
#white16{
    position: absolute;
    top: 205px;
    left: 1235px;
    color: white;
    opacity: 0;
}
#tb17{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1249px;
}
#tb17:hover{
    opacity: 1;
}
#white17{
    position: absolute;
    top: 130px;
    left: 1265px;
    color: white;
    opacity: 0;
}
#tb18{
    background:white;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 1279px;
}
#tb18:hover{
    opacity: 1;
}
#white18{
    position: absolute;
    top: 430px;
    left: 1295px;
    color: white;
    opacity: 0;
}

/*In Plain Sight*/
.graph.ps1{
    opacity: 0.15;
}
.graph.ps2{
    opacity: 0.15;
}
.graph.ps3{
    opacity: 0.15;
}
#ips1{
    background:rgb(255, 219, 88);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 419px;
    z-index: 10;
}
#ips1:hover{
    opacity: 1;
}
#yel1{
    position: absolute;
    top: 380px;
    left: 435px;
    color: white;
    opacity: 0;
}
#ips2{
    background:rgb(255, 219, 88);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 599px;
    left: 609px;
}
#ips2:hover{
    opacity: 1;
}
#yel2{
    position: absolute;
    top: 580px;
    left: 625px;
    color: white;
    opacity: 0;
}
#ips3{
    background:rgb(255, 219, 88);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 474px;
    left: 1249px;
}
#ips3:hover{
    opacity: 1;
}
#yel3{
    position: absolute;
    top: 455px;
    left: 1265px;
    color: white;
    opacity: 0;
}

/*You don't live here*/
.graph.ydlh1{
    opacity: 0.15;
}
.graph.ydlh2{
    opacity: 0.15;
}
.graph.ydlh3{
    opacity: 0.15;
}
.graph.ydlh4{
    opacity: 0.15;
}
.graph.ydlh5{
    opacity: 0.15;
}
.graph.ydlh6{
    opacity: 0.15;
}
.graph.ydlh7{
    opacity: 0.15;
}
.graph.ydlh8{
    opacity: 0.15;
}
.graph.ydlh9{
    opacity: 0.15;
}
.graph.ydlh10{
    opacity: 0.15;
}
.graph.ydlh11{
    opacity: 0.15;
}
.graph.ydlh12{
    opacity: 0.15;
}
.graph.ydlh13{
    opacity: 0.15;
}
.graph.ydlh14{
    opacity: 0.15;
}
.graph.ydlh15{
    opacity: 0.15;
}
.graph.ydlh16{
    opacity: 0.15;
}
.graph.ydlh17{
    opacity: 0.15;
}
.graph.ydlh18{
    opacity: 0.15;
}
#ydlh1{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 649px;
    left: 379px;
}
#ydlh1:hover{
    opacity: 1;
}
#pink1{
    position: absolute;
    top: 630px;
    left: 395px;
    color: white;
    opacity: 0;
}
#ydlh2{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 399px;
}
#ydlh2:hover{
    opacity: 1;
}
#pink2{
    position: absolute;
    top: 380px;
    left: 415px;
    color: white;
    opacity: 0;
}
#ydlh3{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 599px;
    left: 419px;
}
#ydlh3:hover{
    opacity: 1;
}
#pink3{
    position: absolute;
    top: 580px;
    left: 435px;
    color: white;
    opacity: 0;
}
#ydlh4{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 439px;
}
#ydlh4:hover{
    opacity: 1;
}
#pink4{
    position: absolute;
    top: 330px;
    left: 455px;
    color: white;
    opacity: 0;
}
#ydlh5{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 469px;
}
#ydlh5:hover{
    opacity: 1;
}
#pink5{
    position: absolute;
    top: 430px;
    left: 485px;
    color: white;
    opacity: 0;
}
#ydlh6{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 499px;
}
#ydlh6:hover{
    opacity: 1;
}
#pink6{
    position: absolute;
    top: 330px;
    left: 515px;
    color: white;
    opacity: 0;
}
#ydlh7{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 599px;
}
#ydlh7:hover{
    opacity: 1;
}
#pink7{
    position: absolute;
    top: 230px;
    left: 615px;
    color: white;
    opacity: 0;
}
#ydlh8{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 649px;
    left: 719px;
}
#ydlh8:hover{
    opacity: 1;
}
#pink8{
    position: absolute;
    top: 630px;
    left: 735px;
    color: white;
    opacity: 0;
}
#ydlh9{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 599px;
    left: 749px;
}
#ydlh9:hover{
    opacity: 1;
}
#pink9{
    position: absolute;
    top: 580px;
    left: 765px;
    color: white;
    opacity: 0;
}
#ydlh10{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 779px;
}
#ydlh10:hover{
    opacity: 1;
}
#pink10{
    position: absolute;
    top: 430px;
    left: 795px;
    color: white;
    opacity: 0;
}
#ydlh11{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 799px;
}
#ydlh11:hover{
    opacity: 1;
}
#pink11{
    position: absolute;
    top: 330px;
    left: 815px;
    color: white;
    opacity: 0;
}
#ydlh12{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 274px;
    left: 1009px;
}
#ydlh12:hover{
    opacity: 1;
}
#pink12{
    position: absolute;
    top: 255px;
    left: 1025px;
    color: white;
    opacity: 0;
}
#ydlh13{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 1029px;
}
#ydlh13:hover{
    opacity: 1;
}
#pink13{
    position: absolute;
    top: 280px;
    left: 1045px;
    color: white;
    opacity: 0;
}
#ydlh14{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 1139px;
}
#ydlh14:hover{
    opacity: 1;
}
#pink14{
    position: absolute;
    top: 430px;
    left: 1155px;
    color: white;
    opacity: 0;
}
#ydlh15{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 499px;
    left: 1169px;
}
#ydlh15:hover{
    opacity: 1;
}
#pink15{
    position: absolute;
    top: 480px;
    left: 1185px;
    color: white;
    opacity: 0;
}
#ydlh16{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 1209px;
}
#ydlh16:hover{
    opacity: 1;
}
#pink16{
    position: absolute;
    top: 380px;
    left: 1225px;
    color: white;
    opacity: 0;
}
#ydlh17{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 274px;
    left: 1249px;
}
#ydlh17:hover{
    opacity: 1;
}
#pink17{
    position: absolute;
    top: 255px;
    left: 1265px;
    color: white;
    opacity: 0;
}
#ydlh18{
    background:rgb(255, 3, 255);
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 224px;
    left: 1289px;
}
#ydlh18:hover{
    opacity: 1;
}
#pink18{
    position: absolute;
    top: 205px;
    left: 1305px;
    color: white;
    opacity: 0;
}

/*Survive the Night*/
.graph.stn1{
    opacity: 0.15;
}
.graph.stn2{
    opacity: 0.15;
}
.graph.stn3{
    opacity: 0.15;
}
.graph.stn4{
    opacity: 0.15;
}
.graph.stn5{
    opacity: 0.15;
}
.graph.stn6{
    opacity: 0.15;
}
.graph.stn7{
    opacity: 0.15;
}
.graph.stn8{
    opacity: 0.15;
}
.graph.stn9{
    opacity: 0.15;
}
.graph.stn10{
    opacity: 0.15;
}
.graph.stn11{
    opacity: 0.15;
}
.graph.stn12{
    opacity: 0.15;
}
.graph.stn13{
    opacity: 0.15;
}
.graph.stn14{
    opacity: 0.15;
}
.graph.stn15{
    opacity: 0.15;
}
#stn1{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 599px;
    left: 459px;
}
#stn1:hover{
    opacity: 1;
}
#sky1{
    position: absolute;
    top: 580px;
    left: 475px;
    color: white;
    opacity: 0;
}
#stn2{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 324px;
    left: 539px;
}
#stn2:hover{
    opacity: 1;
}
#sky2{
    position: absolute;
    top: 305px;
    left: 555px;
    color: white;
    opacity: 0;
}
#stn3{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 569px;
}
#stn3:hover{
    opacity: 1;
}
#sky3{
    position: absolute;
    top: 280px;
    left: 585px;
    color: white;
    opacity: 0;
}
#stn4{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 599px;
}
#stn4:hover{
    opacity: 1;
}
#sky4{
    position: absolute;
    top: 330px;
    left: 615px;
    color: white;
    opacity: 0;
}
#stn5{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 659px;
}
#stn5:hover{
    opacity: 1;
}
#sky5{
    position: absolute;
    top: 230px;
    left: 675px;
    color: white;
    opacity: 0;
}
#stn6{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 274px;
    left: 739px;
}
#stn6:hover{
    opacity: 1;
}#sky6{
    position: absolute;
    top: 255px;
    left: 755px;
    color: white;
    opacity: 0;
}
#stn7{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 224px;
    left: 779px;
}
#stn7:hover{
    opacity: 1;
}
#sky7{
    position: absolute;
    top: 205px;
    left: 795px;
    color: white;
    opacity: 0;
}
#stn8{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 1009px;
}
#stn8:hover{
    opacity: 1;
}
#sky8{
    position: absolute;
    top: 380px;
    left: 1025px;
    color: white;
    opacity: 0;
}
#stn9{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 199px;
    left: 1049px;
}
#stn9:hover{
    opacity: 1;
}
#sky9{
    position: absolute;
    top: 180px;
    left: 1065px;
    color: white;
    opacity: 0;
}
#stn10{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 1089px;
}
#stn10:hover{
    opacity: 1;
}
#sky10{
    position: absolute;
    top: 230px;
    left: 1105px;
    color: white;
    opacity: 0;
}
#stn11{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 199px;
    left: 1139px;
}
#stn11:hover{
    opacity: 1;
}
#sky11{
    position: absolute;
    top: 180px;
    left: 1155px;
    color: white;
    opacity: 0;
}
#stn12{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 174px;
    left: 1149px;
}
#stn12:hover{
    opacity: 1;
}
#sky12{
    position: absolute;
    top: 155px;
    left: 1165px;
    color: white;
    opacity: 0;
}
#stn13{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1269px;
}
#stn13:hover{
    opacity: 1;
}
#sky13{
    position: absolute;
    top: 130px;
    left: 1285px;
    color: white;
    opacity: 0;
}
#stn14{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 1299px;
}
#stn14:hover{
    opacity: 1;
}
#sky14{
    position: absolute;
    top: 280px;
    left: 1315px;
    color: white;
    opacity: 0;
}
#stn15{
    background:blue;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 224px;
    left: 1309px;
}
#stn15:hover{
    opacity: 1;
}
#sky15{
    position: absolute;
    top: 205px;
    left: 1325px;
    color: white;
    opacity: 0;
}

/*the subtweet*/
.graph.ts1{
    opacity: 0.15;
}
.graph.ts2{
    opacity: 0.15;
}
.graph.ts3{
    opacity: 0.15;
}
.graph.ts4{
    opacity: 0.15;
}
.graph.ts5{
    opacity: 0.15;
}
.graph.ts6{
    opacity: 0.15;
}
.graph.ts7{
    opacity: 0.15;
}
.graph.ts8{
    opacity: 0.15;
}
.graph.ts9{
    opacity: 0.15;
}
.graph.ts10{
    opacity: 0.15;
}
.graph.ts11{
    opacity: 0.15;
}
.graph.ts12{
    opacity: 0.15;
}
.graph.ts13{
    opacity: 0.15;
}
#ts1{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 524px;
    left: 389px;
}
#ts1:hover{
    opacity: 1;
}
#purple1{
    position: absolute;
    top: 505px;
    left: 405px;
    color: white;
    opacity: 0;
}
#ts2{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 399px;
    left: 429px;
}
#ts2:hover{
    opacity: 1;
}
#purple2{
    position: absolute;
    top: 380px;
    left: 445px;
    color: white;
    opacity: 0;
}
#ts3{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 499px;
}
#ts3:hover{
    opacity: 1;
}
#purple3{
    position: absolute;
    top: 279px;
    left: 515px;
    color: white;
    opacity: 0;
}
#ts4{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 449px;
    left: 579px;
}
#ts4:hover{
    opacity: 1;
}
#purple4{
    position: absolute;
    top: 429.5px;
    left: 595px;
    color: white;
    opacity: 0;
}
#ts5{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 336.5px;
    left: 629px;
}
#ts5:hover{
    opacity: 1;
}
#purple5{
    position: absolute;
    top: 317px;
    left: 645px;
    color: white;
    opacity: 0;
}
#ts6{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 299px;
    left: 689px;
}
#ts6:hover{
    opacity: 1;
}
#purple6{
    position: absolute;
    top: 279px;
    left: 705px;
    color: white;
    opacity: 0;
}
#ts7{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 249px;
    left: 809px;
}
#ts7:hover{
    opacity: 1;
}
#purple7{
    position: absolute;
    top: 230px;
    left: 825px;
    color: white;
    opacity: 0;
}
#ts8{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 199px;
    left: 949px;
}
#ts8:hover{
    opacity: 1;
}
#purple8{
    position: absolute;
    top: 180px;
    left: 965px;
    color: white;
    opacity: 0;
}
#ts9{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1069px;
}
#ts9:hover{
    opacity: 1;
}
#purple9{
    position: absolute;
    top: 129.5px;
    left: 1085px;
    color: white;
    opacity: 0;
}
#ts10{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1149px;
}
#ts10:hover{
    opacity: 1;
}
#purple10{
    position: absolute;
    top: 129px;
    left: 1165px;
    color: white;
    opacity: 0;
}
#ts11{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 349px;
    left: 1179px;
}
#ts11:hover{
    opacity: 1;
}
#purple11{
    position: absolute;
    top: 330px;
    left: 1195px;
    color: white;
    opacity: 0;
}
#ts12{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 199px;
    left: 1249px;
}
#ts12:hover{
    opacity: 1;
}
#purple12{
    position: absolute;
    top: 179px;
    left: 1265px;
    color: white;
    opacity: 0;
}
#ts13{
    background:purple;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    top: 149px;
    left: 1319px;
}
#ts13:hover{
    opacity: 1;
}
#purple13{
    position: absolute;
    top: 129.5px;
    left: 1335px;
    color: white;
    opacity: 0;
}

/*legend*/
#legendblue{
    background:rgb(10, 201, 188);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 230px;
}
#lwm{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 260px;
    font-family: 'myFont';
}
#lwm:hover{
    color:rgb(10, 201, 188);
    text-decoration: none;
}
#legendwdky{
    background:rgb(156,27,69);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 455px;
}
#wdky{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 485px;
    font-family: 'myFont';
}
#wdky:hover{
    color:rgb(156,27,69);
    text-decoration: none;
}
#legendtb{
    background:white;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 680px;
}
#tb{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 710px;
    font-family: 'myFont';
}
#tb:hover{
    color:white;
    text-decoration: none;
}
#legendips{
    background:rgb(255, 219, 88);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 830px;
}
#ips{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 860px;
    font-family: 'myFont';
}
#ips:hover{
    color:rgb(255, 219, 88);
    text-decoration: none;
}
#legendydlh{
    background:rgb(255, 3, 255);
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 1000px;
}
#ydlh{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 1030px;
    font-family: 'myFont';
}
#ydlh:hover{
    color:rgb(255, 3, 255);
    text-decoration: none;
}
#legendstn{
    background:blue;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 1210px; 
}
#stn{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 1240px;
    font-family: 'myFont';
}
#stn:hover{
    color:blue;
    text-decoration: none;
}
#legendts{
    background:purple;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    top: 760px;
    left: 1410px;
}
#ts{
    color: black;
    text-decoration: none;
    font-size: 20px;    
    position: absolute;
    top: 737px;
    left: 1440px;
    font-family: 'myFont';
}
#ts:hover{
    color:purple;
    text-decoration: none;
}
